.menu_cart{
    position: absolute;
    width: 100px;
    height: 450px;
    background: #304262;
}
.menu_items{
    position: absolute;
    top: 40px;
}
.menu_item{
    position: relative;
    width: 100px;
    height: 60px;
}
.menu_item:hover{
    background-color: #303C50;
    color: white;
}
h5{
    text-align: center;
    color: rgb(235, 230, 230);
    letter-spacing: 0.6px;
    font-weight: 100;
    opacity: 2;
}

.block_container{
    position: absolute;
    left: 100px;
    width: 400px;
    height: 450px;
    background-color: rgb(243, 242, 242);
}
.search_bar{
    position: absolute;
    top: 30px;
    left: 40px;
    margin: 10px;
    border: 1px solid #b9b4b4;
    background: white;
    text-align: center;
}
.container_content{
    position: absolute;
    display: grid;
    top: 70px;
    left: 20px;
    width: 340px;
    height: 380px;
}
.block_title{
    font-size: 13px;
    color: #014785;
    letter-spacing: 0.5px;
}
.block_content{
    text-align: left;
    font: normal normal 300 13px/26px Open Sans;
    letter-spacing: 0.4px;
    color: #242424;
    opacity: 1;
}